<!-- Product Grid -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="https://leglo.ua/cdn/shop/products/4a068230c7c29b605dc8c6c9a37d2720_0a960d78-6102-4553-b885-ac64300299ec_800x.jpg"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">
            комплект білизни з вареної бавовни leglo brave
          </h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="https://leglo.ua/cdn/shop/products/9b66347590fa8b0afa9de6abd38b125f_800x.jpg"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">
            комплект білизни з вареної бавовни leglo mix apricot-slate
          </h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="https://leglo.ua/cdn/shop/products/fbfa30ce41a85e53ff232a1b8c4997bf_c9a36918-f144-45b6-bd3a-e270896cb5b5_800x.jpg"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">
            комплект білизни з вареної бавовни leglo mix ocean-slate
          </h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
