<!-- Product Grid -->

<div class="container mt-4 mb-4">
  <div class="d-flex justify-content-around">
    <div class="card" style="width: 30%">
      <img
        src="https://leglo.ua/cdn/shop/products/4a068230c7c29b605dc8c6c9a37d2720_0a960d78-6102-4553-b885-ac64300299ec_800x.jpg"
        class="card-img-top"
        alt="Product Image"
      />
      <div class="card-body">
        <h5 class="card-title">
          комплект білизни з вареної бавовни leglo brave
        </h5>
        <div class="d-flex justify-content-between" style="border-top: auto">
          <a href="#" class="btn btn-primary">Купити</a>
          <div class="price-tag align-items-center p-2">Ціна: 10000 грн</div>
        </div>
      </div>
    </div>
    <div class="card" style="width: 30%">
      <img
        src="https://leglo.ua/cdn/shop/products/9b66347590fa8b0afa9de6abd38b125f_800x.jpg"
        class="card-img-top"
        alt="Product Image"
      />
      <div class="card-body">
        <h5 class="card-title">
          комплект білизни з вареної бавовни leglo mix apricot-slate
        </h5>
        <div class="d-flex justify-content-between pt-2">
          <a href="#" [style]="buttonStyle" class="my-btn">
            <div class="my-btn-label">Купити</div>
          </a>
          <div class="price-tag align-items-center p-2">Ціна: 10000 грн</div>
        </div>
      </div>
    </div>
    <div class="card" style="width: 30%">
      <img
        src="https://leglo.ua/cdn/shop/products/fbfa30ce41a85e53ff232a1b8c4997bf_c9a36918-f144-45b6-bd3a-e270896cb5b5_800x.jpg"
        class="card-img-top"
        alt="Product Image"
      />
      <div class="card-body">
        <h5 class="card-title">
          комплект білизни з вареної бавовни leglo mix ocean-slate
        </h5>
        <div class="d-flex justify-content-between pt-2">
          <a href="#" class="btn btn-primary">Купити</a>
          <div class="price-tag align-items-center p-2">Ціна: 10000 грн</div>
        </div>
      </div>
    </div>
  </div>
</div>
